.work{
    padding-top:50px ;
    padding-bottom: 200px;
    background: rgba(0,0,0,0.2);
}
.services_row{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 3em;
    justify-content: center;
    padding-top:30px ;
}
.services_info{
    text-align: center;
}
.services_info h1{
    font-size:50px ;
}
.services_info p{
    font-size: 25px;
    font-weight: bold;
}
.work_box{
    box-shadow: 2px 3px 5px grey;
    flex-basis: 50%;
    
}
.work_box:hover{
    background-color: orange;
    transition: 2s all ease ;
    transform: scale(1.1);

}
.work_box img{
  width: 100%;
  height: 100%;
}

#blue{
    color:#74b9ff ;
}
